<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
   
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/acercademi">Acerca de mi</a>
            </li>
            <li>
                <a href="/aptitudes">Aptitudes</a>
            </li>
            <li>
                <a href="/educacion">Educación</a>
            </li>
            <li>
                <a href="/idiomas">Idiomas</a>
            </li>
            <li>
                <a href="/experiencia">Portafolio</a>
            </li>
        </ul>
    </div>
        
<div id="sobremi" class="animacionColor">
<img src="../img/avatar.png" alt="Maly Puerto">
    <p>
       Mi nombre es Maly Puerto y soy una desarrolladora de fullstack muy entusiasta.
        Mi primera página la realicé durante mi estudio universitario pero fue hasta
        que me capacité con BICTIA que aprendí a programar para desarrollo de
        páginas web. Gracias a ellos se desarrollar en <b>html / css / javascript </b> 
        con el  framework de <b>Bootstrap</b>, y con las herramientas <b> Node y
        Express</b>. También aprendí a combinarlo con bases de datos <b> MySQL y 
        MongoDB</b>. Adicionalmente, trabajé por un periodo con una startup con <b>Materialize</b> y <b>React</b>. También, realicé los cursos de la beca del Ministerio de Tecnología que incluyeron análisis de datos y <b>Python</b>. Para el trabajo en grupo, manejo <b>GIT</b> y la metodología 
        ágil de gestión <b>SCRUM</b>. 
    </p>
    <p>Soy tranquila, comunicativa y proactiva, siempre busco mejorar mis habilidades
        y enfrentar nuevos retos. Estoy dispuesta a asumir proyectos nuevos e interesantes
    y a trabajar con otros dentro de un equipo de desarrollo y multidisciplinario. </p>
</div>
   
</div>

</body>
</html>