<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aptitudes</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
   
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/acercademi">Acerca de mi</a>
            </li>
            <li>
                <a href="/aptitudes">Aptitudes</a>
            </li>
            <li>
                <a href="/educacion">Educación</a>
            </li>
            <li>
                <a href="/idiomas">Idiomas</a>
            </li>
            <li>
                <a href="/experiencia">Portafolio</a>
            </li>
        </ul>
    </div>
  

<div class="centrar">
  <a href="#miModal"><div class="img-zoom"><img src="../img/skills.png"></div><br>
    </a>
</div>
  <div id="miModal" class="modal">
    <div class="modal-contenido ventana">
       <h2>Aptitudes</h2>
      <p>
        HTML5 <br>
        Javascript <br>
        PHP <br>
        CCS <br>
        CCS Frameworks: Bootstrap, Materialize <br>
        Databases: MySQL, MongoDB <br>
        JS Frameworks: Node, Express, Angular <br>
      </p>
      <a href="#" class="menu"><ul><li>cerrar</li></ul></a>
    </div>  
  </div>





   
 



</body>
</html>