<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educación</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
   
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/acercademi">Acerca de mi</a>
            </li>
            <li>
                <a href="/aptitudes">Aptitudes</a>
            </li>
            <li>
                <a href="/educacion">Educación</a>
            </li>
            <li>
                <a href="/idiomas">Idiomas</a>
            </li>
            <li>
                <a href="/experiencia">Portafolio</a>
            </li>
        </ul>
    </div>
    
<div class="centrar">
  <a href="#miModal"><div class="img-zoom"><img src="../img/Estudios.png"></div><br>
    </a>
</div>
  <div id="miModal" class="modal">
    <div class="modal-contenido ventana">
       <h2>Educación</h2>
      <p>
        <ul>
            <li>Fullstack - BICTIA (2020)
                <em>Backend: PHP, JSON, MySQL, Javascript, MongoDB, Node.JS, React.JS, Mean, Angular</em>
            </li>
            <li>Coursera (2020)
                <em>Data analysis with Python, Machine Learning with Big Data, Big Data: adquisición y almacenamiento de datos, How to Win a Data Science Competition: Learn from Top Kagglers, Google Cloud Platform Big Data and Machine Learning Fundamentals</em>
            </li>
            <li>Fundamentos de programación y creación de páginas web - BICTIA (2019)
                <em>Frontend:HTML, CSS, Fundamentos de Javascript, Bootstrap, Github, SCRUM</em>
            </li>
            <li>Ingeniera Ambiental e Ingeniera química - Uniandes (2011)<br>
            <em>Materias relevantes: introducción a la programación, introducción al modelaje y la simulación en ingeniería</em></li>
        </ul>
      </p>
      <a href="#" class="menu"><ul><li>cerrar</li></ul></a>
    </div>  
  </div>

</body>
</html>