<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>experiencia</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
   
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/acercademi">Acerca de mi</a>
            </li>
            <li>
                <a href="/aptitudes">Aptitudes</a>
            </li>
            <li>
                <a href="/educacion">Educación</a>
            </li>
            <li>
                <a href="/idiomas">Idiomas</a>
            </li>
            <li>
                <a href="/experiencia">Portafolio</a>
            </li>
        </ul>
    </div>


<div class="centrar">
  <a href="#miModal"><div class="img-zoom"><img src="../img/portafolio.png"></div><br>
    </a>
</div>
  <div id="miModal" class="modal">
    <div class="modal-contenido ventana">
        <div class="slider">
        <ul>
            <li>
                <div class="experiencia">
                    <div class="screenWeb"><img src="../img/portafolio1.JPG" alt="Cuenta sueños"></div>
                    <div class="descripcion">HTML, <b>PHP, MySQL</b>, CSS, Bootstrap</div>
                    <div class="link"><a href="https://github.com/rrincong34/TallerLibreriaGrupo-03">Cuenta Sueños<a></a></div>
                    <div class="tipo">Trabajo en grupo</div>
                    </div>
                </li>
                <li>
                    <div class="experiencia">
                        <div class="screenWeb"><img src="../img/portafolio2.JPG" alt="Playweb"></div>
                        <div class="descripcion">HTML, CSS, <b> javascript </b> Bootstrap</div>
                        <div class="link"><a href="https://github.com/juavauj/PlayWeb-BICTIA">Playweb<a></a></div>
                        <div class="tipo">Trabajo en grupo</div>
                        </div>
                    </li>
                    <li>
                        <div class="experiencia">
                            <div class="screenWeb"><img src="../img/portafolio3.JPG" alt="Sembremos"></div>
                            <div class="descripcion">HTML, CSS, <b> javascript </b> Bootstrap</div>
                            <div class="link"><a href="https://github.com/MalyJPL/webSembremos">Sembremos<a></a></div>
                            <div class="tipo">Trabajo individual</div>
                            </div>
                        </li>
                        <li>
                            <div class="experiencia">
                                <div class="screenWeb"><img src="../img/portafolio4.JPG" alt="MovieMax"></div>
                                <div class="descripcion">HTML, CSS, <b> javascript </b> Bootstrap</div>
                                <div class="link"><a href="https://github.com/paulis1996/MaxMovie">MovieMax<a></a></div>
                                <div class="tipo">Trabajo en grupo</div>
                                </div>
                            </li>
                </ul>
            </div>
      <a href="#" class="menu"><ul><li>cerrar</li></ul></a>
    </div>  
  </div>





   
 



</body>
</html>